<table id="scheduleTable">
		<thead>
			<tr>
				<th id="tableHeader" colspan="5">Training Schedule</th>
			</tr>
		</thead>
		<tr>
			<th>Where</th>
			<th>When</th>
			<th>Who to Contact</th>
			<th>Host</th>
			<th>Registration Status</th>
		</tr>
		{{#each .}}
			<tr>
				<td>{{Location}}</td>
				<td>{{Start}} - {{End}}</td>
				<td>{{Local_Organizer}}</td>
				<td>{{Host}}</td>
				<td>{{Registration_Status}}</td>
			</tr>
		{{/each}}
</table>